*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 50px 20px;
    background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/old-mathematics.png");
}

.snippetTop {
    /* margin: 0 20%; */
    /* margin-bottom: 20px; */
    width: 30%;
}

.recentSnips {
    display: flex;
    width: 100%;
    justify-content:center;
}

.snippetWindow {
    display: flex;
    width: 100%;
    justify-content:center;

}

.snippetBot {
    width: 90%;
}

.hideSnip {
    display: none;
    background: red;
    /* margin: 0 20%; */
}

.nav {
    padding: 0 15px;
}

#searchInput {
    height: 39px;
}
#searchButton {
    height: 39px;
}

.snippet-title {
    font-size: 1.3rem;
}

.copier-button {
    align-content: center;
}

.titleTop {
    text-align: center;
    padding-bottom: 0px;
    margin: 0;
    color: white;
    background: black;
}
.titleBot {
    text-align: center;
    padding-top: 0px;
    margin: 0;
    color: white;
    background: black;
}

.titleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 12rem;
}

.titleBorder {
    border-width: 1rem;
    margin: 0;
}

.accentColor {
    background: rgba(98, 163, 125, 0.8)
}

.cardTop {
    display: flex;
    justify-content: space-between;
}

.cardDesc {
    max-width: 50%;
}
