*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 50px 20px;
    background-color: #edfff5;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
}

.snippetTop {
    /* margin: 0 20%; */
    /* margin-bottom: 20px; */
    width: 30%;
}

.recentSnips {
    display: flex;
    width: 100%;
    justify-content:center;
}

.snippetWindow {
    display: flex;
    width: 100%;
    justify-content:center;

}

.snippetBot {
    width: 90%;
}

.hideSnip {
    display: none;
    background: red;
    /* margin: 0 20%; */
}

.nav {
    padding: 0 15px;
}

#searchInput {
    height: 39px;
}
#searchButton {
    height: 39px;
}

.snippet-title {
    font-size: 1.3rem;
}

.copier-button {
    align-content: center;
}
