{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Code Snippet Manager</title>
    <script src="{% static 'main.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
</head>
<header>
    <input type="text" id="searchInput">
    {% load socialaccount %}
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} !!!</p>
    {% else %}
    <a href="{% provider_login_url 'github' %}">Sign In With GitHub</a>
    {% endif %}
</header>

<body>
    <ul id="searchResults">

    </ul>
    {% block content %}
    {% endblock %}
</body>

</html>