{% extends 'base.html' %}

{% block content %}
{% load djangocodemirror_tags %}
{% load static %}

    <p>Add a new code snippet</p>
    <form action="" method="post">
            {% csrf_token %}
            <table>
            {{ form.as_p }}
            </table>

            <input type="submit" value="Submit">
          </form>
          {% codemirror_field_css_assets form.code %}
        {% codemirror_field_js_assets form.code %}
        <script src="{% static 'CodeMirror/mode/javascript/javascript.js' %}"></script>
        <script src="{% static 'CodeMirror/mode/css/css.js' %}"></script>
        <script src="{% static 'CodeMirror/mode/ruby/ruby.js' %}"></script>
        <script src="{% static 'CodeMirror/mode/php/php.js' %}"></script>
        <script src="{% static 'CodeMirror/mode/xml/xml.js' %}"></script>
        <script>
            var code_codemirror = CodeMirror.fromTextArea(
                document.getElementById("id_code"),
            {{ form.code|codemirror_parameters }});
</script>
<style>
    .CodeMirror {
        background-color: darkslategray;
        color:whitesmoke;
        margin: 0 20%;
    }
</style>
{% endblock %}
