{% extends "base.html" %}
{% load static %}


{% block content %}

<h1 class="h2">Recent snippets</h1>
<br>
<div class="recentSnips">
    {% for snippet in most_recent %}
    <div class="snippet card bg-transparent">
            <p class="card-header snippet-title"><span class="font-weight-bold">{{ snippet.title }} </span></p>
            <div class="card-body">
            <p class="card-text">{{ snippet.user.username }} | Added on: {{ snippet.date }}</p>
            <p class="card-text text-secondary">{{ snippet.description }} </p>
            <pre class='line-numbers'><code class="language-{{ snippet.language.code }}"><strong>### {{ snippet.language.name }} ###</strong>

{{ snippet.code }}</code></pre>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
