{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Welcome {{ user.get_username }}</h1>
{% if snippets %}
<h2>Your Snippets</h2>
{% for snippet in snippets %}
<div id="snippetHome" class="snippet card bg-transparent shadow-sm snippet{{snippet.pk}}">
    <p class="card-header snippet-title"><span class="font-weight-bold">{{ snippet.title }} </span> <a
            href="{% url 'edit-snippet' snippet.pk %}" role="button" class="btn btn-danger text-left">EDIT</a></p>
    <div class="card-body">
        <p class="card-text">Added on: {{ snippet.date }} | Copied {{ snippet.get_times_copied }}</p>
        <p class="card-text text-secondary">{{ snippet.description }} </p>
        <pre class='line-numbers'><code class="language-{{ snippet.language }}"><strong>### {{ snippet.language }} ###</strong>


{{ snippet.code }}</code></pre>
        <button class="deleteButton btn btn-danger snippetDeleteButton{{ snippet.pk }}"
            data-pk="{{ snippet.pk }}">Delete</button>
        <a href="/snippets/{{ snippet.pk }}">Snippet Detail Page</a>
        {% if snippet.original %}
        <p><a href="{{ snippet.original.get_absolute_url }}">Original Snippet Detail Page</a></p>
        {% endif %}
    </div>
</div> {% endfor %} {% else %} <h2>You haven't made any Snippets yet</h2>
{% endif %}
{% endblock %}